body {
    background-image: url(" ../img/bg.jpg");
}

.container {
    margin-top: 2%;
}

.jumbotron {
    background: linear-gradient(to right, black, gray);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.error {
	color: red;
}

.borderless > tbody > tr:first-child > td {
    border: none;
}

.producto {
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    padding-top: 5px;
	border: none;
	margin-top: 4%;
    box-shadow: 5px;
}

.btn-info {
    margin-top: -11.3%;
}

.info-prod {
	display: none;
}

#eliminar {
    color: red;
}

.boton {
    cursor: default;
}

.nombre-prod {
    color: #333;
    text-decoration: none !important;
}

.card-cat {
    background-color: #333;
    border-color: #333;
    margin-bottom: 4px;
}

#footer {
    background-color: black;
    color: white;
    padding: 0.5%;
    margin-top: 3%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: -2%;
}

ul.pagination li {
    margin-top: 15%;
    display: inline;
    color: black;
    float: left;

    text-decoration: none;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

ul.pagination li.active {
    background-color: #073B39;
    padding: 8px 16px;
    color: white;
    border-radius: 20px;
}

ul.pagination li a:hover:not(.active) {
    background-color: white;
}

.carousel {
    background-color: white;
}

.d-md-block {
    background: linear-gradient(to right, white, gray);
}

.fa-chevron-right, .fa-chevron-left {
    color: black;
}

.card-inverse {
    width: auto;
}